# Ignore virtual environment folder
venv/

# Ignore Python cache files
*.pyc
__pycache__/

# Ignore IDE/editor config files
.vscode/
*.sublime-workspace
*.idea/

# Ignore environment files
.env

# Ignore system files
.DS_Store
Thumbs.db
