# Ignore virtual environment folder
venv/
.venv/

# Ignore Python cache files
*.pyc
__pycache__/

# Ignore IDE/editor config files
.vscode/
*.sublime-workspace
*.idea/

# Ignore environment files
.venv

# Ignore system files
.DS_Store
Thumbs.db
